body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}


#banner
{
  background-color: pink;
  text-align: center;
  width: 800px;
  height: 100px;
  opacity: 0.7;
  clear: both;
  position:fixed;
}

#banner-placeholder
{
  height: 100px;
}

#nav
{
  background-color: lightgray;
  width: 100px;
  /* height:200px; */
  /* background-color: lightpink */
  /* float: left; */
  position: fixed;

}

#ul
{
  padding-left: 0;
}

li
{
  display:block;
  text-align:center;
  margin-bottom: 5px;
  background-color : lightgray;
}

li:hover{
    background-color:pink;
}
ul a{
    text-decoration: none;
}

#nav-placeholder{
    width:100px;
    float:left;
}

#content
{
  background-color: lightgray;
  width: 600px;
  float:left;
}

#supporting
{
  background-color: lightgray;
  width: 100px;
  height: 150px;
  float: left;
}

#footer
{
  background-color: lightgray;
  text-align: center;
  width: 800px;
  height: 50px;
  clear: both;
}

.container {
  overflow: hidden; /* Clearfix */
} 

section {
     height:100vh;
/*     scroll-margin-top: 100px;  */
    padding-top: 100px;
    margin-top: -100px;    
    position:relative;
}

.text-container{
    padding: 5px;
}